/* The following line can be included in a src/App.scss */
@import "custom";

.has-error {
  border: 2px solid $danger;
}

.error-message {
  display: block;
  color: $danger;
  padding: 0.2rem 0.2rem;
  // height: 1rem;
  // position: absolute;
  font-size: 0.8rem;
}

.profile-img{
  width: auto;
  height: 60px;
  overflow: hidden;
}

// .error-message {
//   color: map-get($theme-colors,"info");
//   padding: 0.5rem 0.2rem;
//   height: 1rem;
//   position: absolute;
//   font-size: 0.8rem;
// }
