/* The following line can be included in a src/App.scss */
@import "custom";
@import "Boards";

.has-error {
  border: 2px solid $danger;
}

.has-no-error {
  border: 2px solid $success;
}

.error-message {
  display: block;
  color: $danger;
  padding: 0.2rem 0.2rem;
  // height: 1rem;
  // position: absolute;
  font-size: 0.8rem;
}

.profile-img {
  width: auto;
  height: 60px;
  overflow: hidden;
}

.teamstatic {
  display: inline-block;
  background-color: $light;
  border-radius: 50%;
  overflow: hidden;
  width: 60px;
}
.teamstatic:not(:first-child) {
  margin-left: -30px;
}

.team {
  display: inline-block;
  background-color: $light;
  border-radius: 50%;
  overflow: hidden;
  width: 60px;
  &:hover {
    z-index: 1;
    margin-right: 30px;
  }
}

.team:not(:first-child) {
  margin-left: -30px;
}

tr {
  height: 80px;
  vertical-align: middle;
}

.modal-right {
  position: fixed;
  right: 0;
  top: 110px;
  max-width: 75%;
  width: 75%;
  margin: auto;
  height: 100%;
}
.modal-right-content {
  height: calc(100% - 200px);
  border-radius: 0;
  border: none;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #b5b5b5;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #8a8a8a;
}
::-webkit-scrollbar-thumb:active {
  background: #464343;
}
::-webkit-scrollbar-track {
  background: #666666;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background: #525252;
}
::-webkit-scrollbar-track:active {
  background: #707070;
}
::-webkit-scrollbar-corner {
  background: transparent;
}

// .modal-right-backdrop.show {
//   // opacity: 0;
// }
// .error-message {
//   color: map-get($theme-colors,"info");
//   padding: 0.5rem 0.2rem;
//   height: 1rem;
//   position: absolute;
//   font-size: 0.8rem;
// }
